<mat-card [ngClass]="{rated: course.topRated}">
  <mat-card-title>
    {{course.name | uppercase}}
    <mat-icon *ngIf="course.topRated" color="accent">star</mat-icon>
  </mat-card-title>
  <mat-card-subtitle [appCreationDateHighlight]="course.date">{{course.date | date: "mediumDate"}}</mat-card-subtitle>
  <mat-card-subtitle>Duration: {{course.duration | duration}}</mat-card-subtitle>
  <mat-card-content>
    <p class="course-description">
      {{course.description}}
    </p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button class="edit-button" mat-button (click)="onEdit()">Edit</button>
    <button class="delete-button" mat-button color="warn" (click)="onDelete()">Delete</button>
  </mat-card-actions>
</mat-card>
