  <div class="container" *ngIf="courses.length > 0">
    <app-courses-item
      *ngFor="let course of filteredCourses; trackBy: trackByFn"
      [course]="course"
      (delete)="onDelete($event)"
    ></app-courses-item>
  </div>
  <div class="not-found" *ngIf="filteredCourses.length === 0">
    No data fell free to add new course
  </div>
  <button *ngIf="filteredCourses.length > 0" class="load-more-button" mat-flat-button color="basic" (click)="loadMoreHandler()">
    Load more
  </button>


