<div class="container">
  <div class="inner-container">
    <div class="search-field-container">
      <mat-form-field class="search-field" appearance="standard">
        <span matPrefix><mat-icon>search</mat-icon> </span>
        <input
          matInput
          placeholder="Search"
          name= "search"
          (keyup)="onKeyUp($event)"
          [(ngModel)]="searchValue"
        />
      </mat-form-field>
      <button
        class="search-button"
        mat-raised-button color="primary"
        (click)="onSearchChange()"
      >
        Search
      </button>
    </div>
    <div class="add-course">
      <button mat-stroked-button>
        <div class="add-course-button">
          <mat-icon>add</mat-icon>
          <a routerLink="new">Add course</a>
        </div>
      </button>
    </div>
  </div>
</div>

