<div class="container">
  <mat-card>
    <mat-card-title>
      Add course
    </mat-card-title>
    <form [formGroup]="addGroupForm" (ngSubmit)="addCourseHandler()">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Enter title" formControlName="name">
        <small
          class="text-danger"
          *ngIf="addGroupForm.get('name')?.hasError('required') && addGroupForm.get('name')?.touched">
          The field is required
        </small>
        <small class="text-danger"
               *ngIf="addGroupForm.get('name')?.hasError('maxlength')">
          The maximum length for this field is {{addGroupForm?.get('name')?.errors?.maxlength?.requiredLength}} characters.
        </small>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          placeholder="Enter description"
          matInput
          formControlName="description"
        ></textarea>
        <small
          class="text-danger"
          *ngIf="addGroupForm.get('description')?.hasError('required') && addGroupForm.get('description')?.touched">
          The field is required
        </small>
        <small class="text-danger"
               *ngIf="addGroupForm.get('description')?.hasError('maxlength')">
          The maximum length for this field is {{addGroupForm?.get('description')?.errors?.maxlength?.requiredLength}} characters.
        </small>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Date</mat-label>
        <input type="date" matInput placeholder="Enter date" formControlName="date">
        <small
          class="text-danger"
          *ngIf="addGroupForm.get('date')?.hasError('required') && addGroupForm.get('date')?.touched">
          The field is required
        </small>
      </mat-form-field>
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Duration</mat-label>
        <input
          type="number"
          matInput placeholder="Enter duration"
          formControlName="duration"
        >
        <small
          class="text-danger"
          *ngIf="addGroupForm.get('duration')?.hasError('required') && addGroupForm.get('duration')?.touched">
          The field is required
        </small>
      </mat-form-field>
      <div mat-dialog-actions>
        <button
          mat-button
          (click)="closeHandler()"
        >
          Close
        </button>
        <button
          mat-button
          type="submit"
          [disabled]="!addGroupForm.valid"
        >
          Add
        </button>
      </div>
    </form>
  </mat-card>
</div>

